html{
  height: 100%;
  width: 100%;
  background-color: yellow;
  font-family: "Yu Gothic";
}
body{
  margin: 0px;
  height: 100%;
  width: 100%;
}
.container{
  height: 100%;
  width: 100%;
}
.header{
  height: 100px;
  width: 100%;
  background-color: green;
  margin: 0%;
}
.main{
  height: 80%;
  width: 100%;
  background-color:#FAFAFA;;
}
.head{
  height:125px;
  width: 100%;
  background-color: #6BD1B6;
  padding-top: 25px;
}
.title{
  height: 80%;
  width: 40%;
  color: #6BBDA8;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 3px solid #6BBDA8;
  border-radius: 10px;
}
.title p{
  margin: 0%;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}
.infoBox{
  height: 400px;
  width: 60%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border: 3px solid #6BBDA8;
  border-radius: 10px
}
.info{
  height: 90%;
  width: 90%;
}
.info p{
  padding-left: 10%;
  padding-top: 5%;
  font-size: 20px;
  color: #6BBDA8;

}
.footer{
  height: 10%;
  width: 100%;
  background-color: blue;
  bottom: 0%;
}
